body{
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2{
    color: black;
}
#tartalom{
    background-color: lightgrey; 
    opacity: 90%;
    margin-left: 190px;
    margin-right: 190px;
    color: rgb(59, 36, 4);
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 120%;
    border: darkblue 2px solid;
}
.weapons{
    width: 750px;
    height: 450px;
   float: left;
   margin: 1%;
}
.xenojiva{
    width: 500px;
    height: 300px;
    float: left;
    margin: 1%;
}
.games{
    width: 625px;
    height: 750px;
    margin: 1%;
}
.stories{
    width: 475px;
    height: 325px;
    float: right;
    margin-right: 100px;
    margin-bottom: 150px;
}
table, th, td{
    border-spacing: 20px 10px ;
    border: 3px solid rgb(0, 0, 0);    
    border-collapse: collapse;
    text-align: center;
    vertical-align: left;
    padding: 10px;
    color: rgb(59, 36, 4);
    margin: auto;
}
.monsters{
    width: 110px;
    height: 110px;
}
p{
    margin: 5px;
}























#linkek{
    line-height: normal;
   margin: auto;
}
a{
    padding: 20px;
}
a:link{
    color: blue;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 160%;
    width: 500px;
    text-align: center;
}
a:visited{
    color: rgb(255, 230, 0);
}
a:hover{
    color: rgb(59, 36, 4);
    background-color: lightskyblue;
    padding-bottom: 1px;
    padding-top: 1px;
}
a:active{
    background-color: rgb(146, 179, 223);
}